*{
box-sizing:border-box;
}

body {
font-family: "Lucida Sans Unicode";
background-color: #42b3f5;
}

header{
width:100%;
}

.container{
width:800px;
height:400px;
margin:auto;
font-size:0;
border: 2px solid white;
}

li{
display: inline-block;
height: 100px;
margin:0px;
border:2px solid white;
}

li:nth-child(1){
background-color: #42b3f5;
}

li:hover{
background-color:lightblue;
}

li:nth-child(2){
background-color: #1ed9b7;
}

li:nth-child(3){
background-color: #964b7a;
}

li:nth-child(4){
background-color: #962129;
}

li:nth-child(5){
background-color: orange;
}

li:nth-child(6){
background-color: yellow;
}

li:nth-child(7){
background-color: #8ed4a5;
}

li:nth-child(8){
background-color: #85a18e;
}

li:nth-child(9){
background-color: pink;
}

li:nth-child(10){
background-color: #3fab63;
}

li:nth-child(11){
background-color: #8f6db0;
border-bottom:4px solid white;
}

.quarter{
width:25%;
font-size:10px;
}

.half{
width:50%;
font-size:10px;
}

.full{
width:100%;
font-size:10px;
}

footer{
width:100%;
}

p{
color:white;
text-align:center;
}

.city{
margin-top:22px;
}

i{
font-size:15px;
}


