body {
background:red;
}

h1 p {
font-weight: bold;
padding: auto;
background:red;
width: 760px;
height: 40px;
text-align: center;
color: white;3
}

section p {
padding: auto;
width: 760px;
height: 90px;
text-align: justify;
}

.f3{
color:blue;
font-weight: bold;
}

.f4{
color:blue;
}

.f2 {
width: 760px;
height: 50px;
text-align: center;
}

div {
width: 400px;
height: 50px;
}

div img {
border: dashed;
margin-left: auto;
margin-right: auto
}

footer p {
font-size: 21px;
padding: auto;
background:black;
width: 760px;
height: 25px;
text-align: center;
color: white;
}



