.dialogs{
    display:flex;

}

.dialogsItems{
    padding: 20px;
    color:white;
}

.dialogsItems .active{
    color: gold;
}

.dialogsItems .dialog{
    padding: 5px;
}





.messages{
    padding: 10px;
}

.messages .message{
    color: white;
}