@import "./pattern.scss";

@font-face{
font-family: Raleway-Light;
src:url(../fonts_11/Raleway-Light.ttf);
font-weight:Light;
}

@font-face{
font-family: Raleway-Bold;
src:url(../fonts_11/Raleway-Bold.ttf);
font-weight:Bold;
}

@font-face{
font-family:Raleway-Medium;
src:url(../fonts_11/Raleway-Medium.ttf);
font-weight:Normal;
}

@font-face{
font-family:Pacifico-Regular;
src:url(../fonts_11/Pacifico-Regular.ttf);
font-weight:Normal;
}

*{
    box-sizing:border-box;
}

.header{
    display:flex;
    position:fixed;
    top:0px;
    left:0px;
    right:0px;

    .header-content{
        display:inline-flex;
        min-width:78%;
        height:100px;
        flex-wrap:wrap;
        justify-content:space-between;
        align-items:center;

        margin:auto;


        .header-content__logo{
            display:inline-flex;
            width: 130px;
            height: 55px;
            font-family:Pacifico-Regular;
            font-size: 50px;
            font-weight: 400;
            line-height: 25px;
            margin:0px;
        }

        .header-content__nav{
            display:inline-flex;
            margin:0px;


        }
    }
}



.navigation{
    display:flex;
    padding:0px;
    margin:0px;
}

.navigation__item{
    display:flex;
    border-top: 3px solid rgba(0, 0, 0, 0);
    font-family: Raleway-Bold;
    font-size: 16px;
    line-height: 25px;
    text-transform: uppercase;
    margin: 0px 20px;


}

.navigation__item:hover{
    border-color: #ff6033;
}

a{
    text-decoration: none;
    color: inherit;
}









@media screen and(max-width:767px) {

    .menu-button{
        display:block;
        height:20px;
        width:30px;
        background-color:#ff6033;
        position:relative;
        z-index:2;
    }
    .span-menu {
        position:absolute;
        background-color:black;
        top:50%; margin-top:-1.5px;
        left:0;
        width:100%;
        height:3px;
    }

    .menu-button::before,
    .menu-button::after {
        content:'';
        background-color:black;
        position:absolute;
        width:100%;
        height:3px;
        left:0;
    }

    .menu-button::before{
        top:0;
    }

    .menu-button::after{
        bottom:0;
    }

    .span-menu.active {
        transform: scale(0);
    }

    .menu-button.active::before{
        transform:rotate(45deg);
        top:50%; margin-top:-1.5px;
    }
    .menu-button.active::after{
        transform:rotate(-45deg);
        bottom:50%;margin-bottom:-1.5px;
    }





    .header{
        height:80px;
    }

    .header::before{
        content:'';
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background-color:orange;
        z-index:1;
    }

    .header-content__nav{
        display:flex;
        position:fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 60%;
        background-color:blue;
        padding:100px 0px 30px 30px;
    }

    .header-content{
        background-color:green;

    }

    .header-content__logo{
        z-index:2;
    }

    .navigation{
        display:block;
        margin: 20px 0px 0px 20px;
    }

    .navigation__item{
    margin:0px 0px 20px 0px;

    }
}




.main-container{

}

.main-container--first{
    background-image:url(../images_11/bg_img_1.png);
    background-size: cover;

}

.title-container_strawberry{
    display:inline-block;
    height:250px;
    width: 368px;
    align-items:center;
    padding-left:164px;
    margin-top:20%;

    .title-container__title{
        display:inline-block;
        width: 287px;
        height: 46px;
        font-size: 60px;
        line-height: 25px;
        color: #262626;
        @extend %titlecontainertitle;
        margin:0px;
    }

    .title-container__description{
        display:inline-block;
        width: 368px;
        height: 70px;
        margin-top:34px;
        @extend %titlecontainerdescription;
    }

    .title-container__button{
        @extend %button;
        background-color: #ff6033;
        margin-top:31px;
    }

    .title-container__button:hover{
        @extend %buttonhover;
    }
}


.main-container--second{
    display:flex;
    height: 700px;
    background-color: #00c4c4;
}

.content-container{
    display:inline-flex;
    justify-content:space-between;
    flex-wrap:wrap;
    margin:auto;
    width:1170px;
    height: 559px;
    margin-top:71px;

    .img-container{
        width: 566px;
        height: 559px;
        background-image:url(../images_11/raspberry.png);
        @extend %bgimgproperties;
    }

    .title-container-raspberry{
            display:inline-block;
            width: 499px;
            height: 559px;

        .title-container__title{
            display:inline-block;
            width: 395px;
            height: 67px;
            color: #ffffff;
            font-size: 90px;
            @extend %titlecontainertitle;
            margin-top:109px;
            margin-bottom:0px;
        }

        .title-container__description{
            width: 499px;
            height: 188px;
            color: #ffffff;
            line-height: 27px;
            @extend %titlecontainerdescription;
            margin-top:34px;
        }
    }
}

.main-container--third{
    display:flex;
    height: 790px;
    background-color: #70bfff;

    .container{
        display:inline-flex;
        justify-content:space-between;
        flex-wrap:wrap;
        margin:auto;
        height:550px;
        width:1070px;
        margin-top:100px;
    }
}

.list{
    height:480px;
    width:400px;
    margin-top:59px;
}

.list__item{
    display:flex;
    margin-top:20px;
    height:100px;
    width:400px;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.list__item--name{
    display:inline-flex;
    width:300px;
    height:100px;
    @extend %titlecontainertitle;
    margin:0px;
    text-align:center;
    align-items:center;
    justify-content:center;
    flex-wrap:wrap;
}

.list__item--img{
    display:inline-block;
    width:100px;
    height:100px;
    border-left: solid 1px;
    border-color:#d0d0d0;
}

.list__item:nth-of-type(1)>.list__item--img{
    background-image:url(../images_11/icon_3_1.png);
    background-repeat:no-repeat;
    background-position:center;
}

.list__item:nth-of-type(2)>.list__item--img{
    background-image:url(../images_11/icon_3_2.png);
    background-repeat:no-repeat;
    background-position:center;
}

.list__item:nth-of-type(3)>.list__item--img{
    background-image:url(../images_11/icon_3_3.png);
    background-repeat:no-repeat;
    background-position:center;
}

.list__item:nth-of-type(4)>.list__item--img{
    background-image:url(../images_11/icon_3_4.png);
    background-repeat:no-repeat;
    background-position:center;
}

.title-container--img{
    width: 462px;
    height: 527px;
    background-image:url(../images_11/tomato.png);
    @extend %bgimgproperties;

    .title-container__title{
        display:inline-block;
        width: 544px;
        height: 67px;
        color: #ffffff;
        font-size: 90px;
        line-height: 27px;
        @extend %titlecontainertitle;
        margin:0px;
        position:relative;
        top:250px;
        left:-76px;
    }
}

.main-container--fourth{
    height: 1536px;
    background-color: #ffe92f;

    .title-container-fourth{
        display:inline-block;
        height:185px;
        width: 1500px;
        margin:auto;
        margin-top:100px;

        .title-container__title-fourth{
            display:block;
            width: 307px;
            height: 87px;
            font-size: 90px;
            @extend %titlecontainertitle;
            margin:auto;
            color: #262626;
        }

        .title-container__description-fourth{
            display:block;
            width: 577px;
            height: 70px;
            line-height: 27px;
            @extend %titlecontainerdescription;
            color: #262626;
            text-align:center;
            margin:28px auto 0px;
        }
    }
}






.img-container{
    display:flex;
    height:980px;
    width:1170px;
    flex-direction:column;
    flex-wrap:wrap;
    margin:auto;
    margin-top:46px;

    .img-container-top{
        display:flex;
        width:1170px;
        height:550px;
        justify-content:space-between;

        .img-container-big{
            width: 770px;
            height: 550px;
            background-image:url(../images_11/yellow_big.png);
            @extend %bgimgproperties;
        }

        .img-container-small{
            display:flex;
            width: 370px;
            height:550px;
            flex-direction:column;

            .img-small_1{
                display:inline-block;
                width: 370px;
                height: 260px;
                background-image:url(../images_11/yellow_small_1.png);
                @extend %bgimgproperties;
            }

            .img-small_2{
                display:inline-block;
                width: 370px;
                height: 260px;
                background-image:url(../images_11/yellow_small_2.png);
                @extend %bgimgproperties;
                margin-top:30px;

            }
        }
    }

    .img-container-bottom{
        display:inline-flex;
        width:1170px;
        height:400px;
        justify-content:space-between;
        margin-top:30px;

        .img-medium_1{
            display:inline-block;
            width: 570px;
            height: 400px;
            background-image:url(../images_11/yellow_medium_1.png);
            @extend %bgimgproperties;
        }

        .img-medium_2{
            display:inline-block;
            width: 570px;
            height: 400px;
            background-image:url(../images_11/yellow_medium_2.png);
            @extend %bgimgproperties;

        }
    }
}

.button_yellow{
    @extend %button;
    background-color: #5585a2;
    margin-top:50px;
}

.button_yellow:hover{
    @extend %buttonhover;
}

.main-container-fifth{
    height: 500px;
    background-image:url(../images_11/bg_blueberry.png);
    @extend %bgimgproperties;

    .title-container-fifth{
        display:inline-block;
        height:106px;
        width: 541px;
        align-items:center;
        margin-left:164px;
        margin-top:145px;

        .title-container__title-fifth{
            display:inline-block;
            width: 305px;
            height: 29px;
            font-size: 40px;
            line-height: 27px;
            color: #262626;
            @extend %titlecontainertitle;
            margin:0;
        }

        .title-container__description-fifth{
            display:inline-block;
            width: 542px;
            height: 43px;
            margin-top:34px;
            @extend %titlecontainerdescription;
        }
    }

    .subscription{
        display:flex;
        width:770px;
        height:55px;
        justify-content:space-between;
        margin-left:164px;
        margin-top:31px;

        .subscription__email{
            width: 570px;
            height: 55px;
            border: 1px solid #262626;
            padding-left:18px;
            padding-top:22px;
            padding-bottom:22px;
        }

        .subscription__email::placeholder{
            @extend %titlecontainerdescription;
            font-size: 15px;
            color: #262626;
            opacity: 0.5;
        }

        .subscription__button{
            display:inline-block;
            @extend %button;
            width: 170px;
            background-color: #96b92c;
            margin-top:-6px;
            margin-left:30px;
        }
        .subscription__button:hover{
            @extend %buttonhover;
        }
    }
}


.main-container--sixth{
    background-color:#b07cf7;
    height:864px;

    .title-container--sixth{
        display:inline-block;
        height:185px;
        width: 1500px;
        margin:auto;
        margin-top:100px;

        .title-container__title--sixth{
            display:block;
            width: 190px;
            height: 86px;
            font-size: 90px;
            @extend %titlecontainertitle;
            margin:auto;
            color: #ffffff;
        }
        .title-container__description--sixth{
            display:block;
            width: 563px;
            height: 66px;
            line-height: 25px;
            @extend %titlecontainerdescription;
            color: #ffffff;
            text-align:center;
            margin:30px auto 0px;
        }
    }
    .card_container{
        display:flex;
        max-width:1170px;

        justify-content:space-between;
        flex-wrap:wrap;
        margin:auto;
        margin-top: 47px;
        margin-bottom: 50px;

        .card{
            position:relative;

            .date_month{
                background-image:url(../images_11/bg.png);
                width: 60px;
                height: 60px;
                border-radius: 5px;
                color: #ffffff;
                padding:5px;
                position:relative;
                top:30px;
                left:30px;

                .date{
                    font-family:Raleway-Bold;
                    font-size: 32px;
                    font-weight: 700;
                    line-height: 25px;
                    text-align: center;
                }

                .month{
                    font-family:Raleway-Medium;
                    font-size: 21px;
                    font-weight: 400;
                    line-height: 25px;
                    text-transform: uppercase;
                    text-align: center;
                }
            }

            .card_text{
                width: 307px;
                height: 78px;
                color: #ffffff;
                position: absolute;
                left:20px;
                bottom:23px;
                .card_description{
                    font-family:Raleway-Bold;
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 25px;
                    margin-top:0;
                }
                .lasttime{
                    font-family:Raleway-Light;
                    font-size: 13px;
                    font-weight: 300;
                }
            }
        }

        .card:nth-of-type(1){
            width: 370px;
            height: 310px;
            background-repeat: no-repeat;
            background-image:url(../images_11/image_1.png);
        }

        .card:nth-of-type(2){
            width: 370px;
            height: 310px;
            background-repeat: no-repeat;
            background-image:url(../images_11/image_2.png);
        }

        .card:nth-of-type(3){
            width: 370px;
            height: 310px;
            background-repeat: no-repeat;
            background-image:url(../images_11/image_3.png);
        }
    }

    .button--sixth{
        @extend %button;
        background-color: #f72b3b;
        margin-top:50px;
    }

    .button--sixth:hover{
        @extend %buttonhover;
    }
}

.main-container--seven{
    height: 866px;
    background-image:url(../images_11/bg_bottom.png);
    @extend %bgimgproperties;

    .title-container--seven{
        display:inline-block;
        height:154px;
        width: 1500px;
        margin:auto;
        margin-top:100px;

        .title-container__title--seven{
            display:block;
            width: 340px;
            height: 65px;
            font-size: 90px;
            @extend %titlecontainertitle;
            margin:auto;
            color: #262626;
            line-height: 25px;
        }

        .title-container__description--seven{
            display:block;
            width: 350px;
            height: 41px;
            line-height: 25px;
            @extend %titlecontainerdescription;
            color: #262626;
            text-align:center;
            margin:30px auto 0px;
        }
    }
    .content-container--seven{
        display:flex;
        flex-wrap:wrap;
        margin:auto;
        width:1170px;
        height:445px;
        margin:auto;
        margin-top:46px;

        .mainform{
            display:inline-flex;
            flex-wrap:wrap;
            width:500px;
            height:445px;

            .mainform__input{
                width: 500px;
                height: 50px;
                background-color: rgba(0, 196, 196, 0.5);
                border:none;
                margin-top:15px;
                padding-left:18px;
                padding-top:22px;
                padding-bottom:20px;
            }

            .mainform__input:hover{
            border-left:5px solid #355b82;
            padding-left:13px;
            background-color: #00c4c4;
            }

            .form__input--fname{
                margin-top:0px;
            }

            .mainform__input::placeholder{
                @extend %titlecontainerdescription;
                font-size: 15px;
                color: #ffffff;

            }
            .form__input--text{
                width: 500px;
                height: 250px;
                padding-top:20px;
            }
        }

        .main-contact-container{
            display:inline-block;
            width: 320px;
            height: 160px;
            color: #262626;
            margin-left:170px;

            .contact-container{
                width: 320px;
                margin-bottom:20px;

                .contact-container__name{
                    display:block;
                    @extend %titlecontainertitle;
                    font-size: 17px;
                    margin:0px;
                }

                .contact-container__content{
                    display:block;
                    @extend %titlecontainerdescription;
                    font-size: 20px;
                    margin:0px;
                }
            }
        }
    }
}

.footer-container{
    width: 1500px;
    height: 90px;
    background-color: #262626;

    .footer-content-container{
        display:flex;
        height:90px;
        max-width:1170px;
        justify-content:space-between;
        margin:auto;

        .footer-content{
            display:inline-block;
            color: #b9b9b9;
            margin:0px;
        }

        .footer-content--rights{
            width: 280px;
            height: 20px;
            @extend %titlecontainerdescription;
            margin-top:35px;
        }

        .footer-content--logo{
            width: 64px;
            height: 27px;
            font-family:Pacifico-Regular;
            font-size: 25px;
            margin-top:25px;
        }

        .footer-content--creator{
            width: 220px;
            height: 20px;
            @extend %titlecontainerdescription;
            margin-top:35px;

            .footer-content--creator-red{
                display:inline;
                @extend %titlecontainertitle;
                color: #ff2b58;
            }
        }
    }
}
