@import "./fonts.scss";

@import "./pattern.scss";

*{
box-sizing:border-box;
}

.main-container--first{
    background-image:url(../images_14/hero-bg.png);
    background-size: cover;
    background-position: center;
    margin:auto;
    padding-top:285px;
    padding-bottom:115px;

    .main-icon-container{
        display:block;
        background-image:url(../images_14/headicon_1.png);
        background-repeat:no-repeat;
        background-size: cover;
        width: 67px;
        height:67px;
        margin:auto;
    }

    .title-container-first{
        display:flex;
        flex-direction:column;
        justify-content:center;
        max-width:591px;
        margin:auto;
        margin-top:80px;
        margin-bottom:50px;

        .title-container__title{
            display:flex;
            text-align:center;
            justify-content:center;
            font-family: Lato-Bold;
            font-size: 54px;
            color: #3c3c3c;
            letter-spacing: 5px;
            margin:0;
            color: #ffffff;
        }

        .title-container__description{
            display:inline-flex;
            text-align:justify;
            font-family: Lato-Light;
            font-size: 15px;
            font-weight: 400;
            line-height: 25.89px;
            text-transform: uppercase;
            color: #ffffff;
            text-align:center;
            margin:auto;
            margin-top:53px;
        }
    }

    .sub-icon-container{
        display:block;
        background-image:url(../images_14/scroll.svg);
        background-repeat:no-repeat;
        background-size: cover;
        width: 23px;
        height: 37px;
        margin:auto;
    }
}

.main-container--second{

    .title-container-second{
        display:flex;
        flex-direction:column;
        position:relative;
        justify-content:center;
        max-width:902px;
        border: 2px solid #3c3c3c;
        margin:auto;
        margin-top:160px;
        margin-bottom:160px;
        padding-top:80px;
        padding-bottom:50px;

        .title-container__title{
            display:flex;
            position:absolute;
            width:300px;
            top:-50px;
            left:50%; margin-left:-150px;
            justify-content:center;
            font-family: Lato-Bold;
            font-size: 34px;
            color: #3c3c3c;
            letter-spacing: 5px;
            background-color:white;
        }

        .title-container__description{
            display:flex;
            max-width:533px;
            text-align:center;
            font-family: Lato-Light;
            font-size: 16px;
            font-weight: 300;
            line-height: 25.89px;
            margin:auto;
        }
    }
}

.main-container--third{
    background-image:url(../images_14/services.png);
    background-size: cover;
    margin:auto;
    padding-top:128px;
    padding-bottom:109px;

    .title-container-third{
        display:flex;
        flex-direction:column;
        position:relative;
        justify-content:center;
        max-width:902px;
        border: 2px solid white;
        border-top:none;
        margin:auto;
        padding-top:80px;
        padding-bottom:50px;

        .title-container__title{
            display:flex;
            width:100%;
            font-family: Lato-Bold;
            font-size: 34px;
            color: white;
            letter-spacing: 5px;
            background-color:none;
            margin-top:-100px;
        }

        .title-container__title::before{
            content:'';
            position:relative;
            top:20px;
            height:2px;
            width:40%;
            background-color: white;
            margin-right:50px;
        }

        .title-container__title::after{
            content:'';
            position:relative;
            top:20px;
            height:2px;
            width:40%;
            background-color: white;
            margin-left:50px;
        }

        .title-container__description{
            display:flex;
            max-width:533px;
            text-align:center;
            color: #ffffff;
            font-family: Lato-Light;
            font-size: 16px;
            font-weight: 300;
            line-height: 25.89px;
            margin:auto;
        }
    }
}

.main-container--forth{

    .title-container-forth{
        display:flex;
        flex-direction:column;
        position:relative;
        justify-content:center;
        max-width:902px;
        border: 2px solid #3c3c3c;
        margin:auto;
        margin-top:160px;
        margin-bottom:160px;
        padding-top:150px;

        .title-container__title{
            display:flex;
            position:absolute;
            width:300px;
            top:-50px;
            left:50%; margin-left:-150px;
            justify-content:center;
            font-family: Lato-Bold;
            font-size: 34px;
            color: #3c3c3c;
            letter-spacing: 5px;
            background-color:white;
        }

        .card{
            display:flex;
            flex-direction:column;
            max-width:533px;
            text-align:center;
            line-height: 25.89px;
            margin:auto;
            margin-bottom:100px;

            .icon-container-forth-1{
                background-image:url(../images_14/first_icon.png);
                background-repeat:no-repeat;
                background-size: cover;
                width: 80px;
                height: 83px;
                margin:auto;
            }

            .icon-container-forth-2{
                background-image:url(../images_14/second_icon.png);
                background-repeat:no-repeat;
                background-size: cover;
                width: 79px;
                height: 76px;
                margin:auto;
            }

            .icon-container-forth-3{
                background-image:url(../images_14/third_icon.png);
                background-repeat:no-repeat;
                background-size: cover;
                width: 79px;
                height: 91px;
                margin:auto;
            }

            .subtitle-container__title{
                margin-top:40px;
                margin-bottom:40px;
                text-transform: uppercase;
                font-family: Lato-Bold;
                color: #3c3c3c;
                letter-spacing: 5.26px;
                font-size: 20px;
            }

            .subtitle-container__description{
                font-size: 14px;
                font-family: Lato-Light;
                color: #3c3c3c;
                line-height: 25.89px;
            }
        }
    }
}

.images-container{
    display:flex;
    justify-content:center;
    align-content:space-between;
    flex-wrap:wrap;
    min-height:484px;

    .img-container{
        position:relative;
        @extend %imgcard;

        .img-text{
            position:absolute;
            bottom:43px;
            left:43px;
            color: #ffffff;
            font-family: Lato-Bold;
            font-size: 34px;
            text-transform: uppercase;
            letter-spacing: 8.95px;
            margin:auto;
        }
    }

    .img-container-1{
        background-image:url(../images_14/Layer_5_copy.png);
        width:28%;
        height:237px;
    }

    .img-container-2{
        background-image:url(../images_14/Layer_5_copy_3.png);
        width:41%;
        height:237px;
        margin-right:10px;
        margin-left:10px;
    }

    .img-container-3{
        background-image:url(../images_14/Layer_5_copy_2.png);
        width:28%;
        height:237px;
    }

    .img-container-4{
        background-image:url(../images_14/Layer_5_copy_4.png);
        width:28%;
        height:237px;
    }

    .img-container-5{
        background-image:url(../images_14/Layer_5_copy_41.png);
        width:41%;
        height:237px;
        margin-right:10px;
        margin-left:10px;
    }

    .img-container-6{
        background-image:url(../images_14/Layer_5_copy_42.png);
        width: 28%;
        height: 237px;
    }
}

.main-container--six{

    .title-container-six{
        display:flex;
        flex-direction:column;
        position:relative;
        justify-content:center;
        max-width:902px;
        border: 2px solid #3c3c3c;
        margin:auto;
        margin-top:160px;
        margin-bottom:160px;
        padding-top:80px;
        padding-bottom:50px;

        .title-container__title{
            display:flex;
            position:absolute;
            width:300px;
            top:-50px;
            left:50%; margin-left:-150px;
            justify-content:center;
            font-family: Lato-Bold;
            font-size: 34px;
            color: #3c3c3c;
            text-transform: uppercase;
            letter-spacing: 5px;
            background-color:white;
        }

        .title-container__description{
            display:flex;
            max-width:533px;
            text-align:center;
            font-family: Lato-Light;
            font-size: 16px;
            font-weight: 300;
            line-height: 25.89px;
            margin:auto;
        }

        .container__button{
            display:block;
            width: 395px;
            font-family: Lato-Light;
            font-size: 16px;
            text-transform: uppercase;
            color: #ffffff;
            height: 58px;
            border: 2px solid #3c3c3c;
            background-color: #3c3c3c;
            margin:auto;
            margin-top:42px;
        }
    }
}

.footer-container{
    display:flex;
    justify-content:center;
    justify-content:space-between;
    max-width:350px;
    margin:auto;

    .icon-container-footer{
        display:block;
        background-image:url(../images_14/headicon_2.png);
        background-repeat:no-repeat;
        background-size: cover;
        width: 35px;
        height:37px;
    }

    .footer_description{
    font-family: Lato-Light;
    font-size: 14px;
    color: #3c3c3c;
    }
}

@import "./media.scss";

